<p-panel header="Pipes numéricos" class="p-2">
  <p>Pipes incluidos en Angular - usualmente en el common Module</p>
</p-panel>
<div class="grid mt-2">
  <div class="col-12 md:col-4">
    <p-card header="Ventas netas" subheader="del presente año">{{
      totalSells + 1234 | number : "1.2-2"
    }}</p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ventas brutas" subheader="del presente año">{{
      totalSells | currency : "EUR" : "symbol-narrow" : "1.4-4"
    }}</p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ganancias porcentual" subheader="del presente año">{{
      percernt | percent : "1.2-2"
    }}</p-card>
  </div>
</div>
